<mat-card [formGroup]="form">
  <mat-card-header>
    <mat-card-title>
      Telecom
    </mat-card-title>
  </mat-card-header>
  <div formArrayName="telecom">
    <div *ngFor="let telecom of telecoms.controls; let i=index" [formGroupName]="i">
      <mat-form-field>
        <mat-label>System</mat-label>
        <mat-select formControlName="system">
          <mat-option *ngFor="let type of telecomTypes" [value]="type">
            {{type}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Value</mat-label>
        <input matInput formControlName="value"/>
      </mat-form-field>
      <button mat-icon-button type="button" color="warn" (click)="deleteTelecom(i)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
    <button mat-raised-button type="button" (click)="addTelecom()">
      <mat-icon>add</mat-icon>
      Add telecom
    </button>
  </div>
</mat-card>
